body {
    background-color: black;
    color: white;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.carousel-caption {
    color: white;
}

.carousel-img {
    height: 600px; 
    object-fit: cover; 
}