<div class="container mt-5">
    <div class="row">
        <!-- História -->
        <div class="col-md-4">
            <a routerLink="/history" class="card card-custom">
                <img src="assets/images/ico/historia.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">História</h2>
                    <p class="card-text">Consulte a histórias dos museus</p>
                </div>
            </a>
        </div>
        <!-- Galeria -->
        <div class="col-md-4">
            <a routerLink="/gallery" class="card card-custom">
                <img src="assets/images/ico/Galeria.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">Galeria</h2>
                    <p class="card-text">Galeria dos museus</p>
                </div>
            </a>
        </div>
        <!-- Eventos -->
        <div class="col-md-4">
            <a routerLink="/events" class="card card-custom">
                <img src="assets/images/ico/Eventos.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">Eventos</h2>
                    <p class="card-text">Próximos Eventos</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <!-- Mapa -->
        <div class="col-md-4">
            <a routerLink="/map" class="card card-custom">
                <img src="assets/images/ico/Mapa.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">Mapa</h2>
                    <p class="card-text">Mapas dos museus</p>
                </div>
            </a>
        </div>
        <!-- Avaliações -->
        <div class="col-md-4">
            <a routerLink="/reviews" class="card card-custom">
                <img src="assets/images/ico/Avaliacao.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">Avaliações</h2>
                    <p class="card-text">Avaliações dos Visitantes</p>
                </div>
            </a>
        </div>
        <!-- Museolink -->
        <div class="col-md-4">
            <a routerLink="/sobre" class="card card-custom">
                <img src="assets/images/logo/Logo_MuseoLink_Black_v3_nav.png" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-custom-title">Museolink</h2>
                    <p class="card-text">Sobre nós</p>
                </div>
            </a>
        </div>
    </div>
</div>
