<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/home/slide-1-1920x753.jpg" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block animate__animated animate__fadeInDown">
        <h5 class="animate__animated animate__fadeInDown">LOUVRE</h5>
        <p class="animate__animated animate__fadeInLeft">Onde a Arte Transcende o Tempo</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slide-2-1920x753.jpg" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block" style="top: 4px;">
        <h5 class="animate__animated animate__fadeInLeft">METROPOLITAN MUSEUM OF ART</h5>
        <p class="animate__animated animate__fadeInRight">Uma Viagem pela Criação Humana</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slide-3-1920x753.jpg" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block animate__animated animate__fadeInDown">
        <h5 class="animate__animated animate__fadeInDown">BRITISH MUSEUM</h5>
        <p class="animate__animated animate__fadeInRight">Descubra a História da Humanidade</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slide-4-1920x753.jpg" class="d-block w-100" alt="Slide 4">
      <div class="carousel-caption d-none d-md-block animate__animated animate__fadeInDown">
        <h5 class="animate__animated animate__fadeInDown">RIJKSMUSEUM</h5>
        <p class="animate__animated animate__fadeInLeft">A Arte e a História dos Países Baixos</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slide-5-1920x753.jpg" class="d-block w-100" alt="Slide 5">
      <div class="carousel-caption d-none d-md-block" style="top: 4px;">
        <h5 class="animate__animated animate__fadeInLeft">INSTITUTE FOR THE STUDY OF ANCIENT CULTURES MUSEUM</h5>
        <p class="animate__animated animate__fadeInRight">Desvenda os Mistérios das Civilizações Antigas</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<main>
  <!-- Aqui vai o conteúdo principal -->
</main>

<section class="map-section">
  <!-- Aqui vai o mapa -->
</section>
