<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <img src="assets/images/logo/Logo_Symbol_Black_v4_nobg.png" alt="Logo" class="img-fluid mb-3 logo-animated" style="max-width: 150px;">
      <h1 class="display-4">Política de Privacidade</h1>
    </div>
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title">Introdução</h2>
          <p class="card-text">Valorizamos a sua privacidade e estamos comprometidos em proteger as suas informações pessoais. Esta política de privacidade descreve como recolhemos, usamos e protegemos as suas informações.</p>
          
          <h2 class="card-title">Recolha de Informações</h2>
          <p class="card-text">Recolhemos informações pessoais quando utiliza o nosso site, tais como nome, endereço de e-mail e outras informações fornecidas voluntariamente por si.</p>

          <h2 class="card-title">Uso das Informações</h2>
          <p class="card-text">As informações recolhidas são usadas para fornecer e melhorar os nossos serviços, comunicar consigo e personalizar a sua experiência no nosso site.</p>

          <h2 class="card-title">Partilha de Informações</h2>
          <p class="card-text">Não partilhamos as suas informações pessoais com terceiros, exceto conforme necessário para fornecer os nossos serviços ou conforme exigido por lei.</p>

          <h2 class="card-title">Segurança das Informações</h2>
          <p class="card-text">Implementamos medidas de segurança adequadas para proteger as suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição.</p>

          <h2 class="card-title">Os Seus Direitos</h2>
          <p class="card-text">Tem o direito de aceder, corrigir ou excluir as suas informações pessoais. Entre em contacto connosco para exercer esses direitos.</p>

          <h2 class="card-title">Cookies e Tecnologias Semelhantes</h2>
          <p class="card-text">Usamos cookies e tecnologias semelhantes para melhorar a sua experiência no nosso site, analisar a utilização do site e ajudar nos nossos esforços de marketing.</p>

          <h2 class="card-title">Alterações a Esta Política</h2>
          <p class="card-text">Podemos atualizar esta política de privacidade periodicamente. Notificaremos sobre quaisquer alterações significativas.</p>

          <h2 class="card-title">Contacto</h2>
          <p class="card-text">Se tiver dúvidas sobre esta política de privacidade, entre em contacto connosco através do e-mail: contacto&#64;museolink.com.</p>
        </div>
      </div>
    </div>
  </div>
</div>
