<div class="parallax-container">
  <div class="parallax" style="background-image: url('assets/images/history/history_bg1.jpg');">
    <div class="parallax-content">
      <h2>The Metropolitan Museum of Art</h2>
      <p>As raízes mais antigas do Metropolitan Museum of Art remontam a 1866, em Paris, França, quando um grupo de americanos concordou 
      em criar uma “instituição e galeria de arte nacional” para levar a arte e a educação artística ao povo americano.</p>
    </div>
  </div>
</div>

<div class="museum-container">
  <div class="museum-content container">
    <div class="row">
      <div class="col-md-6 museum-image">
        <img src="assets/images/The-Metropolitan-Museum-of-Art/the-metropolitan-Museum-of-art.png" alt="The Metropolitan Museum of Art">
      </div>
      <div class="col-md-6 museum-description">
        <p><strong>1866</strong>: As raízes mais antigas do Metropolitan Museum of Art remontam a 1866, em Paris, França, quando um grupo de americanos concordou 
        em criar uma “instituição e galeria de arte nacional”para levar a arte e a educação artística ao povo americano. O advogado John Jay que propôs a ideia, avançou rapidamente com o projeto após o seu regresso de França aos Estados Unidos.<br>
        <br>
        Sob a presidência de Jay, o Union League Club de Nova Iorque reuniu líderes cívicos, homens de negócios, artistas, coleccionadores de arte e filantropos
        em torno da causa. Em <strong>13 de abril de 1870</strong>, o Metropolitan Museum of Art foi incorporado, abrindo ao público no Edifício Dodworth na 681 Fifth Avenue. 
        Em <strong>20 de novembro desse mesmo ano</strong>, o Museu adquiriu o seu primeiro objeto, um sarcófago romano. Em <strong>1871</strong>, 174 pinturas europeias, incluindo obras de Anthony 
        Dyck, Nicolas Poussin e Giovanni Battista Tiepolo, entraram na coleção.<br>
        <br>
        Em <strong>30 de março de 1880</strong>, após uma breve mudança para a Douglas Mansion, na 128 West 14th Street, o Museu abriu ao público no seu local atual, 
        na Fifth Avenue com a 82nd Street. Os arquitectos Calvert Vaux e Jacob Wrey Mould desenharam a estrutura gótica ruskiniana inicial, cuja fachada oeste ainda é visível na Ala Robert Lehman. 
        Desde então, o edifício expandiu-se muito, e os vários acrescentos - construídos já em <strong>1888</strong> - rodeiam agora completamente a estrutura original.<br>
        <br>
        A coleção do Museu continuou a crescer durante o resto do século XIX. A compra, em <strong>1874-76</strong>, da Coleção Cesnola de arte cipriota - obras que datam 
        da Idade do Bronze até ao final do período romano - ajudou a estabelecer a reputação do Met como um importante repositório de antiguidades clássicas.
        Quando o pintor americano John Kensett morreu em <strong>1872</strong>, 38 das suas telas passaram para o Museu e, em <strong>1889</strong>, o Museu adquiriu duas obras de Édouard Manet.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax" style="background-image: url('assets/images/history/history_bg2.jpg');">
    <div class="parallax-content">
      <h2>Louvre Museum</h2>
      <p>O Louvre, outrora um palácio real, testemunha oito séculos de história da França. Desde a sua fundação, em 1793, o museu teve como objetivo ser universal.</p>
    </div>
  </div>
</div>

<div class="museum-container">
  <div class="museum-content container">
    <div class="row">
      <div class="col-md-6 museum-image">
        <img src="assets/images/Louvre-Museum/louvre.png" alt="Louvre Museum">
      </div>
      <div class="col-md-6 museum-description">
        <p>O Louvre, outrora um palácio real, testemunha oito séculos de história da França. Desde a sua fundação, em <strong>1793</strong>, o museu teve como objetivo ser universal. As suas colecções, entre as mais belas do mundo, abrangem vários milhares de anos e uma área que se estende desde a América até aos confins da Ásia.<br>
        <br>
        O Louvre começou por ser uma fortaleza com espessas muralhas defensivas, construída em <strong>1190</strong> durante o reinado de Filipe Augusto. Tornou-se residência real em <strong>1364</strong> e foi modificado ao longo dos séculos em função da evolução dos estilos e das preferências reais. A Grande Galerie foi construída entre <strong>1595 e 1610</strong>, durante o reinado de Henrique IV.<br>
        <br>
        Em <strong>1791</strong>, durante a Revolução Francesa, foi decretado que o Louvre deveria tornar-se um museu de artes. O Museu Central das Artes foi inaugurado em <strong>1793</strong> e, a partir daí, o palácio foi sendo cada vez mais dedicado às colecções do museu e à sua exposição ao público.
        De <strong>1981 a 1989</strong>, o projeto da Pirâmide centrou-se em colocar os visitantes no centro do museu e das suas colecções. O Departamento de Arte Islâmica foi inaugurado em <strong>2012</strong> e o Departamento de Arte Bizantina e Cristã Oriental foi criado em <strong>2022</strong>.<br>
        <br>
        O Louvre é um museu universal com nove departamentos curatoriais: Antiguidades Egípcias; Antiguidades do Próximo Oriente; Antiguidades Gregas, Etruscas e Romanas; Pinturas; Esculturas;
        Artes Decorativas; Gravuras e Desenhos; Arte Islâmica; e atualmente Arte Bizantina e Cristã Oriental. Estão expostas cerca de <strong>33.000</strong> obras de arte, incluindo obras-primas mundialmente famosas
        como a Vitória Alada de Samotrácia, o Escriba Sentado, os Touros Alados de Khorsabad, a Mona Lisa e os Escravos de Miguel Ângelo, e partes do palácio, como os Apartamentos Napoleão III, são
        obras de arte por direito próprio.<br>
        <br>
        Em frente ao palácio encontra-se o Jardim das Tulherias, criado durante o Renascimento por Catarina de Médicis, e a alguns quilómetros de distância, no coração de Saint-Germain-des-Prés, encontra-se
        outro museu gerido pelo Louvre - o Museu Eugène-Delacroix, instalado no último apartamento do pintor.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax" style="background-image: url('assets/images/history/history_bg3.jpg');">
    <div class="parallax-content">
      <h2>British Museum</h2>
      <p>O Museu Britânico foi fundado em 1753 e abriu as suas portas em 1759. Foi o primeiro museu nacional a abranger todos os domínios do conhecimento humano.</p>
    </div>
  </div>
</div>

<div class="museum-container">
  <div class="museum-content container">
    <div class="row">
      <div class="col-md-6 museum-image">
        <img src="assets/images/British-Museum/British-Museum.png" alt="British Museum">
      </div>
      <div class="col-md-6 museum-description">
        <p>O Museu Britânico foi fundado em <strong>1753</strong> e abriu as suas portas em <strong>1759</strong>. Foi o primeiro museu nacional a abranger todos os domínios do conhecimento humano, aberto a visitantes de todo o mundo.
        Os ideais e valores do Iluminismo - análise crítica de todos os pressupostos, debate aberto, investigação científica, progresso e tolerância - marcaram o Museu desde a sua fundação.<br>
        <br>
        O Museu é movido por uma curiosidade insaciável pelo mundo, uma profunda crença nos objectos como testemunhas e documentos fiáveis da história humana, uma investigação sólida, bem como o desejo de expandir e partilhar o conhecimento.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax" style="background-image: url('assets/images/history/history_bg4.jpg');">
    <div class="parallax-content">
      <h2>Rijksmuseum</h2>
      <p>Quando o Rijksmuseum foi inaugurado, há 200 anos, não estava em Amsterdã. Então, onde tudo começou? E o que Napoleão teve a ver com a sua mudança?</p>
    </div>
  </div>
</div>

<div class="museum-container">
  <div class="museum-content container">
    <div class="row">
      <div class="col-md-6 museum-image">
        <img src="assets/images/Rijksmuseum/Rijksmuseum.png" alt="Rijksmuseum">
      </div>
      <div class="col-md-6 museum-description">
        <p>Quando o Rijksmuseum foi inaugurado, há 200 anos, não estava em Amsterdã. Então, onde tudo começou? E o que Napoleão teve a ver com a sua mudança? A história do Rijksmuseum parece uma verdadeira virada de página.<br>
        <br>
        <strong>1798</strong>: Em 19 de novembro de 1798, o governo decidiu criar um museu nacional segundo o modelo francês. Pretendido como um “projeto de prestígio” para inspirar o sentimento patriótico, ofereceria também um local para guardar objetos importantes.
        Esta Galeria Nacional de Arte abriu suas portas em <strong>31 de maio de 1800</strong> em Huis Ten Bosch, em Haia. Reuniu mais de 200 pinturas e objetos históricos das coleções dos stadtholders e de instituições nacionais (algumas extintas), como a Companhia Holandesa das Índias Orientais. A primeira compra – O Cisne de Jan Asselijn – custou 100 florins e é uma das principais atrações do Rijksmuseum até hoje.<br>
        <br>
        <strong>1808</strong>: Em 1808, o Reino da Holanda estava sob o domínio de Luís Napoleão Bonaparte. Ele transferiu as coleções nacionais para a nova capital do país, Amsterdã. E não para qualquer edifício, mas para o Palácio Real na Praça Dam, originalmente a Câmara Municipal. Lá eles se juntaram às pinturas mais importantes da cidade, incluindo A Ronda Noturna, de Rembrandt. Este Museu Real foi inaugurado oficialmente em <strong>1809</strong> no último andar do palácio.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax" style="background-image: url('assets/images/history/history_bg5.jpg');">
    <div class="parallax-content">
      <h2>Institute for the Study of Ancient Cultures Museum</h2>
      <p>No início do século XX, James Henry Breasted construiu a coleção do Museu Oriental Haskell da universidade.</p>
    </div>
  </div>
</div>

<div class="museum-container">
  <div class="museum-content container">
    <div class="row">
      <div class="col-md-6 museum-image">
        <img src="assets/images/Institute-For-The-Study/Institute-for-the-study.png" alt="Institute for the Study of Ancient Cultures Museum">
      </div>
      <div class="col-md-6 museum-description">
        <p>No início do século XX, James Henry Breasted construiu a coleção do Museu Oriental Haskell da universidade, que supervisionava juntamente com o seu trabalho de campo e as suas
        funções de professor. Sonhava, no entanto, com a criação de um instituto de investigação, “um laboratório para o estudo da ascensão e desenvolvimento da civilização”, que traçaria a
        civilização ocidental até às suas raízes no antigo Médio Oriente.<br>
        <br>
        Com o fim da Primeira Guerra Mundial, Breasted sentiu uma oportunidade de usar a sua influência no novo clima político para criar oportunidades de acesso a sítios arqueológicos e
        ao seu estudo. Escreveu a John D. Rockefeller Jr. e propôs a fundação do que viria a ser o Instituto Oriental. Fundamental para a concretização do seu plano era uma viagem de
        investigação pelo Médio Oriente, que Breasted sugerira com otimismo estar pronto a receber novamente estudiosos após os distúrbios da guerra.<br>
        Breasted recebeu uma resposta de Rockefeller prometendo 50.000 dólares em cinco anos para o Instituto Oriental. Rockefeller também assegurou ao presidente da Universidade de
        Chicago, Harry Pratt Judson, que prometeria mais 50 mil dólares para a causa. A Universidade de Chicago contribuiu com apoio adicional e, em maio de <strong>1919</strong>, foi fundado o Instituto Oriental.
        <br>
        <br>
        O instituto está instalado num invulgar edifício Art-Deco/Gótico na esquina da 58th Street com a University Avenue, concebido pela empresa de arquitetura Mayers Murray & Phillip.</p>
      </div>
    </div>
  </div>
</div>
