<section id="about-us">
  <!-- Parallax Section 1 -->
  <div class="parallax-container parallax1">
    <div class="parallax-content text-center text-light">
      <h2>Sobre Nós</h2>
      <p>MuseoLink é uma plataforma criada para facilitar o acesso a informações sobre museus internacionais, ajudando os visitantes a planearem e a desfrutarem de suas visitas.</p>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="text-center museum-title">Missão e Visão</h2>
    <div class="row museum-content">
      <div class="col-md-12 museum-description">
        <p>A nossa missão é promover a cultura e facilitar o acesso à rica herança histórica e artística dos museus. A nossa visão é conectar pessoas com o patrimônio cultural de maneira acessível e envolvente.</p>
      </div>
    </div>
  </div>

  <!-- Parallax Section 2 -->
  <div class="parallax-container parallax2">
    <div class="parallax-content text-center text-light">
      <h2>A Equipa</h2>
      <p>Conheça a nossa equipa dedicada e apaixonada pela cultura: Daniela Brito, Rodrigo Castro, José Pinheiro.</p>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="text-center museum-title">História do Projeto</h2>
    <div class="row museum-content">
      <div class="col-md-12 museum-description">
        <p>O MuseoLink nasceu da paixão pela cultura e pelo desejo de tornar a experiência de visitar museus mais acessível e envolvente. Desde o seu início, o projeto tem evoluído continuamente, alcançando novos marcos e estabelecendo parcerias importantes.</p>
      </div>
    </div>
  </div>

  <!-- Parallax Section 3 -->
  <div class="parallax-container parallax3">
    <div class="parallax-content text-center text-light">
      <h2>Metodologia de Trabalho</h2>
      <p>Utilizamos ferramentas como Angular, Bootstrap e Firebase, seguindo uma metodologia ágil para garantir qualidade e eficiência.</p>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="text-center museum-title">Valores e Compromissos</h2>
    <div class="row museum-content">
      <div class="col-md-12 museum-description">
        <p>Estamos comprometidos em fornecer uma plataforma de alta qualidade, segura e eficiente. Esforçamo-nos para garantir que o site seja acessível a todos, incluindo pessoas com deficiências.</p>
      </div>
    </div>
  </div>

  <!-- Parallax Section 4 -->
  <div class="parallax-container parallax4">
    <div class="parallax-content text-center text-light">
      <h2>Futuro do Projeto</h2>
      <p>Continuamos a melhorar o MuseoLink com novas funcionalidades e expansões. Valorizamos o feedback dos nossos utilizadores.</p>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <h2 class="text-center museum-title">Contacto</h2>
    <div class="row museum-content">
      <div class="col-md-12 museum-description">
        <p>Para dúvidas, sugestões ou parcerias, entre em contato connosco através do formulário de contato ou envie um e-mail para contacto.</p>
      </div>
    </div>
  </div>
</section>
