/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*             Autor: Daniela Brito; Rodrigo Castro; José Pinheiro         */
/* Data de alteração: 2024-03-25                                           */
/*         Descrição: Projeto Museus (styles.scss)                         */
/*           Cadeira: Programação Web                                      */
/*           Docente: Patrícia Leite                                       */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
